<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello ji mera favourite number <%= 2+2+3 %>
    </h1>
    <h1>Hello ji ye ek random number h :- <%= number %>
    </h1>

    <% if(number%2==0){ %>
        <h1> Even number</h1>
    <% }else{ %>
        <h1>Odd number</h1>
    <% } %>
</body>

</html>