*{
    margin:0;
    padding:0;
}

section{
    display:flex;
    border:2px solid grey;
    flex-direction : row;
    height: 44rem;
    
    
}
div{
    width:33.33333%;
    border: 2px groove grey;
}
button{
    border: 0px white;
    background-color: white;
    width: 100px;
    height: 30px;
}
button:hover{
    border-radius:20px;
    background-color: brown;
}
hr.solid {
    border-top: 3px solid #bbb;
  }

.container2 nav{
    display:flex;
    justify-content: space-between;
}

footer{
        height: 550px;
        display: flex;
        align-items: flex-end;
        text-align: right;
}