<!-- include header -->
<%- include('./partials/header') %>

    <button id="btn">Click me!</button>
    <h1>Hello ji</h1>
    <p>Kese ho ??</p>


<!-- include footer -->
<%- include('./partials/footer') %>